<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flopkart</title>
</head>
<body>
  <h2 style="text-align: center;">{{msg}}</h2>
    {% for item in trial %}
    <div class="card" style="width: 18rem; margin: auto; padding: 35px; border:1px solid black;">
        <img src="/media/{{item.image}}" class="card-img-top" alt="..." width="250" height="200">
        <div class="card-body">
          <h2 class="card-title">{{item.product_name}}</h2>
          <b><p class="card-text">Price: {{item.price}}</p></b>
        </div>
    </div>
    {% endfor %}
</body>
</html>